// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }

.avatar{
    height: 100%;
    width: 100%;
    border-radius: 0%;
}

img {
    margin: 0; // inline
    width: 100%; // inline
    height: 100%; // inline
    object-fit: contain; // link
    object-position: center; // link
    background: url('/assets/img/blackwallcanvas.png')    // inline
  }