// Uncomment to disable dingbat icons below posts
// hr.dingbat { display: none }

.avatar{
    height: 100%;
    width: 100%;
    border-radius: 0%;
    background: transparent;
}


.img{
    object-fit: contain;
}

.project-card{
    left:-10px;        
}

  .column-1-2{
    background: url('/assets/img/blackwallcanvas.png');    // inline
    border-radius: 15px;
  }


