.content .aspect-ratio {
    overflow: visible; // inline
    img {
      margin: 0; // inline
      width: 100%; // inline
      height: 100%; // inline
      object-fit: contain; // link
      background: transparent;
    }
  }

  // .page-title .hr-bottom{
  // }
  
  .author
    .avatar{
      // max-height:300px ;
      max-width: 30% ;
      top: 24px;
      // position: relative;
      // scale:.5;
    }
  
    

  

